.no-bottom-pad {
    padding-bottom: 0px !important;
}

.tint-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.6;
}

header .header-content .header-content-inner p {
    font-size: 23px;
}

.quote-wrap {
    margin-top:70px;
}

.quote-wrap .citation {
    font-size: 17px;
}

.quote-wrap h3 {
    font-size: 25px !important;
    font-weight: 200px !important;
}

.quote-wrap h3 i {
    color: #ff7d26;
}

#social {
    padding: 60px 0px;
}

#social a i {
    font-size: 45px;
    padding: 0px 5px;
}
